---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Projects from "../components/Projects.astro"
import ActivityChart from "../components/ActivityChart.astro"
import Contact from "../components/Contact.astro"
import Education from "../components/Education.astro"
import FloatingNav from "../components/FloatingNav.astro"
import Tools from "../components/Tools.astro"

// Ref: schema copied from https://github.com/meroxdotdev/merox-erudite/blob/master/src/pages/index.astro
//
// // Person Schema for homepage SEO
// const personSchema = {
//   "@context": "https://schema.org",
//   "@type": "Person",
//   "name": SITE.title,
//   "url": SITE.href,
//   "description": SITE.description
// }
//
// // Organization Schema
// const organizationSchema = {
//   "@context": "https://schema.org",
//   "@type": "Organization",
//   "name": SITE.title,
//   "url": SITE.href,
//   "description": SITE.description
// }
//
// // Website Schema
// const websiteSchema = {
//   "@context": "https://schema.org",
//   "@type": "WebSite",
//   "name": SITE.title,
//   "url": SITE.href,
//   "description": SITE.description,
//   "potentialAction": {
//     "@type": "SearchAction",
//     "target": {
//       "@type": "EntryPoint",
//       "urlTemplate": `${SITE.href}/blog?q={search_term_string}`
//     },
//     "query-input": "required name=search_term_string"
//   }
// }
//
// <!-- Schema Markup for SEO -->
// <script type="application/ld+json" set:html={JSON.stringify(personSchema)} />
// <script type="application/ld+json" set:html={JSON.stringify(organizationSchema)} />
// <script type="application/ld+json" set:html={JSON.stringify(websiteSchema)} />
---

<Layout>
  <Header />
  <Hero />
  <Tools />
  <Projects />
  <div class="mt-4 grid gap-4 sm:mt-6 lg:mt-8">
    <ActivityChart />
    <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      <Education />
      <Contact />
    </div>
  </div>
  <Footer />
  <FloatingNav />
</Layout>
